.card-item.legendary:deep(.stress) {
  font-weight: 700;
}

.card-item.unique:deep(.stress) {
  font-weight: 700;
}

.body--dark .card-item.magic:deep(.stress),
.body--dark .card-item.consumables:deep(.stress) {
  color: #60c3f1;
}

.body--dark .card-item.rare:deep(.stress) {
  color: var(--q-rare);
}

.body--dark .card-item.legendary:deep(.stress) {
  color: var(--q-legendary);
}

.body--dark .card-item.unique:deep(.stress) {
  color: var(--q-unique);
}

.body--dark .card-item.mythic:deep(.stress) {
  color: var(--q-mythic);
}

.body--dark .card-item.set:deep(.stress) {
  color: var(--q-set);
}

.card-item.legendary:deep(.stress .icon) {
  filter: var(--q-filter-legendary) !important;
}

.card-item.unique:deep(.stress .icon) {
  filter: var(--q-filter-unique) !important;
}

.card-item.mythic:deep(.stress .icon) {
  filter: var(--q-filter-mythic) !important;
}

.card-item.set:deep(.stress .icon) {
  filter: var(--q-filter-set) !important;
}

.body--dark .card-item.magic .unique {
  font-weight: 600;
  color: var(--q-magic);
}

.body--dark .card-item.rare .unique {
  font-weight: 600;
  color: var(--q-rare);
}

.body--dark .card-item.set .unique {
  font-weight: 600;
  color: var(--q-set);
}

.body--dark .card-item.legendary .unique {
  font-weight: 600;
  color: var(--q-legendary);
}

.body--dark .card-item.unique .unique {
  font-weight: 600;
  color: var(--q-unique);
}

.body--dark .card-item.magic .unique .icon {
  filter: var(--q-filter-magic) !important;
}

.body--dark .card-item.rare .unique .icon {
  filter: var(--q-filter-rare) !important;
}

.body--dark .card-item.set .unique .icon {
  filter: var(--q-filter-set) !important;
}

.body--dark .card-item.legendary .unique .icon {
  filter: var(--q-filter-legendary) !important;
}

.body--dark .card-item.unique .unique .icon {
  filter: var(--q-filter-unique) !important;
}

.no-expanded::after {
  content: '';
  position: absolute;
  top: 82%;
  bottom: -16%;
  left: 0;
  right: 0;
  border-radius: 2px;
  filter: blur(10px);
  transform: scale(200%, 200%);
  background-color: var(--q-light);
}

.body--dark .no-expanded::after {
  background-color: var(--q-dark-page);
}
