:root {
  --q-primary: #A59263;
  --q-secondary: #A50905;
  --q-accent: #9C27B0;
  --q-light: #EAEAEA;
  --q-light-page: #F4F4F4;
  --q-light-border: #DDDDDD;
  --q-dark: #1a1a1a;
  --q-dark-page: #040404;
  --q-dark-border: #222222;
  --q-positive: #21BA45;
  --q-negative: #C10015;
  --q-info: #31CCEC;
  --q-warning: #F2C037;
  --q-light-normal: #888888;
  --q-dark-normal: #333333;
  --q-magic: #7B7DF6;
  --q-light-magic: #4B4DC6;
  --q-dark-magic: #1B263A;
  --q-rare: #EAEB0B;
  --q-light-rare: #CACB00;
  --q-dark-rare: #533809;
  --q-set: #00FF00;
  --q-light-set: #00BB00;
  --q-dark-set: #003300;
  --q-unique: #D9A979;
  --q-light-unique: #B99959;
  --q-dark-unique: #4A361B;
  --q-shadow: #000000;
  --q-filter-normal: invert(39%) sepia(1%) saturate(1823%) hue-rotate(16deg) brightness(100%) contrast(89%);
  --q-filter-magic: invert(35%) sepia(72%) saturate(1098%) hue-rotate(212deg) brightness(80%) contrast(96%);
  --q-filter-rare: invert(91%) sepia(21%) saturate(2166%) hue-rotate(5deg) brightness(96%) contrast(91%);
  --q-filter-set: invert(37%) sepia(91%) saturate(1265%) hue-rotate(91deg) brightness(95%) contrast(106%);
  --q-filter-unique: invert(57%) sepia(68%) saturate(273%) hue-rotate(349deg) brightness(87%) contrast(93%);
}

body.body--light::before {
  filter: invert(100%);
}

body.body--light {
  background-color: var(--q-light-page);
  color: var(--q-dark-page);
}

body.body--dark {
  background-color: var(--q-dark-page);
  color: var(--q-light-page);
}

.q-dark {
  color: var(--q-light-page);
}

.invert,
.invert-icon img,
.body--dark .icon,
.body--dark .q-select__dropdown-icon img,
.q-notification:not(.no-invert) .q-icon img {
  filter: invert(100%) !important;
}

.q-focus-helper {
  opacity: .05 !important;
}

.no-hover .q-focus-helper {
  display: none;
}

.q-checkbox__inner:before {
  display: none;
}

.body--light .q-drawer {
  background-color: var(--q-light-page);
}

.q-drawer::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('assets/back.webp');
  background-size: 550px;
  background-repeat: repeat;
}

.body--light .q-drawer::before {
  background-image: none;
  background-color: var(--q-light);
}

@media (min-width:1024px) {
  .q-drawer {
    position: fixed !important;
  }

  .body--dark .q-drawer {
    background-color: var(--q-dark-page);
  }
}

@media (min-width:1440px) {
  .q-drawer {
    width: calc((100vw - 840px) / 2) !important;
  }

  .q-page-container {
    padding-left: calc((100vw - 840px) / 2) !important;
  }
}

.q-dialog__backdrop {
  background: rgba(0, 0, 0, .8);
  transition: none;
}

.q-separator--dark {
  background: rgba(255, 255, 255, 0.16);
}

.q-field__control:before {
  background-color: white;
}

.q-field--dark .q-field__control:before {
  background-color: black;
}

.d4-scroll {
  overflow-y: scroll;
  min-height: 30px !important;
}

.d4-scroll::-webkit-scrollbar {
  width: 4px !important;
}

.d4-scroll::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0 !important;
}

.d4-scroll::-webkit-scrollbar-thumb {
  box-shadow: none !important;
  background: rgba(255, 255, 255, .2);
  border-radius: 0 !important;
}

.body--light .d4-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .05);
}

.body--light .d4-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
}

.break-keep {
  word-break: keep-all;
}

.break-all {
  word-break: break-all;
}

.underline {
  border-bottom: solid 1px currentColor;
}

.q-menu--dark {
  box-shadow: none;
}

.q-card--dark {
  box-shadow: none;
}

.allow-copy {
  cursor: pointer;
}

.allow-copy:hover {
  text-decoration: underline;
}