.card-item {
  max-height: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: transparent;
  z-index: 0;
  box-shadow: none;
  padding: 4px;
}

.card-item .q-separator {
  margin: 0 1%;
  position: relative;
}

.body--light .card-item {
  border-style: solid;
  border-width: 5px;
  border-color: var(--q-light-normal);
  border-radius: 10px;
}

.body--dark .card-item {
  border-style: solid;
  border-width: 6px;
  border-image-width: 20px !important;
  letter-spacing: 0;
  border-radius: 0 !important;
  border-image: url('assets/frames/outer.webp') 20;
}

.body--light .card-item.magic {
  border-color: var(--q-light-magic);
}

.body--light .card-item.rare {
  border-color: var(--q-light-rare);
}

.body--light .card-item.set {
  border-color: var(--q-light-set);
}

.body--light .card-item.legendary {
  border-color: var(--q-light-legendary);
}

.body--light .card-item.unique {
  border-color: var(--q-light-unique);
}

.card-item::before {
  content: '';
  position: absolute;
  z-index: -1;
}

.body--light .card-item::before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--q-light);
}

.body--dark .card-item::before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: var(--q-dark-page);
}

.card-item .q-card__section--vert {
  padding: 8px;
}

.name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  word-break: keep-all;
}

.price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.info {
  font-size: 16px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -0.5px;
}

@media (max-width:600px) {
  .name {
    font-size: 14px;
  }

  .price {
    font-size: 14px;
  }

  .info {
    font-size: 14px;
  }

  .card-item {
    font-size: 12px;
  }

  .card-item .q-card__section--vert {
    padding: 6px;
  }
}

.body--dark .card-item.magic .stress {
  color: var(--q-magic);
}

.body--dark .card-item.rare .stress {
  color: var(--q-rare);
}

.body--dark .card-item.set .stress {
  color: var(--q-set);
}

.body--dark .card-item.legendary .stress {
  color: var(--q-legendary);
}

.body--dark .card-item.unique .stress {
  color: var(--q-unique);
}

.body--dark .card-item.magic .unique {
  font-weight: 600;
  color: var(--q-magic);
}

.body--dark .card-item.rare .unique {
  font-weight: 600;
  color: var(--q-rare);
}

.body--dark .card-item.set .unique {
  font-weight: 600;
  color: var(--q-set);
}

.body--dark .card-item.legendary .unique {
  font-weight: 600;
  color: var(--q-legendary);
}

.body--dark .card-item.unique .unique {
  font-weight: 600;
  color: var(--q-unique);
}

.body--dark .card-item.magic .unique .icon {
  filter: var(--q-filter-magic) !important;
}

.body--dark .card-item.rare .unique .icon {
  filter: var(--q-filter-rare) !important;
}

.body--dark .card-item.set .unique .icon {
  filter: var(--q-filter-set) !important;
}

.body--dark .card-item.legendary .unique .icon {
  filter: var(--q-filter-legendary) !important;
}

.body--dark .card-item.unique .unique .icon {
  filter: var(--q-filter-unique) !important;
}

.card-item .inner {
  padding: 10px;
  position: relative;
  z-index: 0;
}

.body--dark .card-item .inner {
  background-blend-mode: color-dodge;
  background: linear-gradient(to bottom, var(--q-dark-normal), var(--q-dark-page));
}

.body--dark .card-item.magic .inner {
  background: linear-gradient(to bottom, var(--q-dark-magic), var(--q-dark-page));
}

.body--dark .card-item.rare .inner {
  background: linear-gradient(to bottom, var(--q-dark-rare), var(--q-dark-page));
}

.body--dark .card-item.set .inner {
  background: linear-gradient(to bottom, var(--q-dark-set), var(--q-dark-page));
}

.body--dark .card-item.legendary .inner {
  background: linear-gradient(to bottom, var(--q-dark-legendary), var(--q-dark-page));
}

.body--dark .card-item.unique .inner {
  background: linear-gradient(to bottom, var(--q-dark-unique), var(--q-dark-page));
}

.body--dark .card-item .inner::after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-style: solid;
  border-color: inherit;
  border-image: url('assets/frames/inner.webp') 40;
  border-image-width: 30px;
  background-color: transparent !important;
  filter: brightness(0) saturate(100%);
  pointer-events: none;
}

.card-item.normal .inner::after {
  filter: var(--q-filter-normal);
}

.card-item.magic .inner::after {
  filter: var(--q-filter-magic);
}

.card-item.rare .inner::after {
  filter: var(--q-filter-rare);
}

.card-item.set .inner::after {
  filter: var(--q-filter-set);
}

.card-item.legendary .inner::after {
  filter: var(--q-filter-legendary);
}

.card-item.unique .inner::after {
  filter: var(--q-filter-unique);
}

.card-item.editable,
.card-item.dialog {
  width: 800px;
  max-width: 100vw;
}

.card-item:not(.expanded, .editable, .dialog)::after {
  content: '';
  position: absolute;
  top: 70%;
  bottom: -30px;
  left: -30px;
  right: -30px;
  border-radius: 2px;
  filter: blur(16px);
  background-color: var(--q-light);
}

.item:has(.card-item.status-002) {
  filter: grayscale(1) opacity(.5);
}

.body--dark .card-item:not(.expanded, .editable, .dialog)::after {
  background-color: var(--q-dark-page);
}

@media (max-width:600px) {
  .card-item:not(.expanded, .editable, .dialog)::after {
    top: 68%;
  }

  .card-item .inner {
    padding: 6px;
  }
}

.var {
  max-width: 34px;
}

.var .q-field__control {
  height: 20px;
  line-height: 20px;
  padding: 0 !important;
  margin: 0;
}

.user-area {
  position: absolute;
  top: 16px;
  right: 20%;
  z-index: 1;
}

.item-image {
  width: 16%;
  position: absolute;
  top: 0;
  right: -10px;
}

@media (max-width:300px) {
  .user-area {
    right: 0;
  }

  .item-image {
    display: none;
  }
}

.quality .q-btn {
  font-size: inherit;
}

.quality .q-btn:before {
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, .2);
}

.body--dark .quality .q-btn:before {
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, .2);
}

.quality .q-btn.active {
  background-color: var(--q-dark-page);
  color: var(--q-light-page);
}

.body--dark .quality .q-btn.active {
  background-color: var(--q-light-page);
  color: var(--q-dark-page);
}

.attribute {
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(250, 250, 250, .1);
  height: 100%;
}

.body--light .attribute {
  background-color: rgba(125, 125, 125, .1);
}

.tab {
  padding-bottom: 0 !important;
}

.tab .q-btn-group .toggle {
  font-weight: 700;
  color: inherit !important;
  background-color: rgba(250, 250, 250, .1);
  border-radius: 4px 4px 0 0;
}

.body--light .tab .q-btn-group .toggle {
  background-color: rgba(125, 125, 125, .1);
}

.attribute .q-panel {
  overflow: hidden;
}

.attribute .list {
  max-height: 30vh;
}

.toggles .q-toggle__thumb::before {
  display: none !important;
}

.authorized {
  color: var(--q-primary);
  font-weight: 700;
}