name: Deploy to Lightsail

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: aws_cicd

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build
        env:
          VITE_APP_BACKEND: ${{ secrets.VITE_APP_BACKEND }}
          VITE_APP_SOCKET: ${{ secrets.VITE_APP_SOCKET }}
          VITE_APP_TRADURS: ${{ secrets.VITE_APP_TRADURS }}
          VITE_APP_VERSION: 1.11.6

      - name: Copy Dockerfile
        run: |
          cp Dockerfile ./dist/ssr/

      - name: Upload file to Lightsail server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.LIGHTSAIL_HOST }}
          port: ${{ secrets.LIGHTSAIL_PORT }}
          username: ${{ secrets.LIGHTSAIL_USER }}
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          source: './dist/ssr/'
          target: '/home/ec2-user/tradurs.d4/'

      - name: SSH into Lightsail and run container
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.LIGHTSAIL_HOST }}
          port: ${{ secrets.LIGHTSAIL_PORT }}
          username: ${{ secrets.LIGHTSAIL_USER }}
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          script: |
            cd /home/ec2-user/tradurs.d4/dist/ssr
            sudo docker build -t tradurs:d4 .
            sudo docker stop "tradurs.d4" || true
            sudo docker rm -f "tradurs.d4" || true
            sudo docker run -d --restart always --cpuset-cpus="0" --cpu-shares=25000 \
              --cpu-period=100000 --memory="768mb" --publish 6090:6090 \
              --name tradurs.d4 tradurs:d4
            sudo docker system prune -f
            sudo docker buildx prune -f
